<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #0000009c;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" style="color: white;font-family: 'Yusei Magic', sans-serif">home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/course" class="nav-link" style="color: white;font-family: 'Yusei Magic', sans-serif">courses</a>
        </li>
         <li class="nav-item">
          <a routerLink="/stories" class="nav-link" style="color: white;font-family: 'Yusei Magic', sans-serif">Stories</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link" style="color: white;font-family: 'Yusei Magic', sans-serif">about us</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" class="nav-link" style="color: white;font-family: 'Yusei Magic', sans-serif">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!--<button (click)='passtoparent()' >Pass</button>-->
