<section>

  <div class="main-footer">

    <div class="container-fluid">

      <div class="row">

        <div class="col-md-3">

            <div>





            </div>

        </div>


        <div class="col-md-3">
          <h6>Back To</h6>

<p>
<a href="index.html" class="foot">HOME</a>
<br>
<a href="course.html" class="foot">COURSES</a>
<br>
<a href="en.html" class="foot" style="text-transform: uppercase;">Entrepreneurship</a>
<br>
<a href="about.html" class="foot">ABOUT US</a>
<br>
<a href="contact.html" class="foot">CONTACT US</a>


          </p>
        </div>


        <div class="col-md-3" >
          <h6>Learn More</h6>

          <p>
            <a href="home.html" class="foot">About Us</a>
            <br>
            <a href="furniture.html" class="foot">FAQ</a>
            <br>
            <a href="basket.html" class="foot"></a>
            <br>
            <a href="goods.html" class="foot"></a>
            <br>
            <a href="" class="foot"></a>



          </p>
        </div>

         <div class="social-icon text-left col-md-3" >
          <h6>Stay Connected</h6>
          <br>
                <!-- <a href="https://www.linkedin.com/company/first-fiddle-restaurants/">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/firstfiddlerestaurants/">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://twitter.com/hashtag/firstfiddlerestaurants">
                <i class="fab fa-facebook-f"></i>
                </a> -->
                <a href="https://www.linkedin.com/in/anju-yadav-715b57177">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>

      </div>

    </div>

  </div>
</section>
<!--end main footer-->
<!--last-->
<section>
	<div class="container-fluid l">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="text-center col-md-6">
				<p class="last">
					PRIVACY POLICY | TERMS AND CONDITIONS | BLOG

				</p>

			</div>
			<div class="col-md-3"></div>


		</div>

	</div>
</section>
<!--end last-->
