<section><!--banner-->
		<div class="container-fluid a">
			<div class="container">
				<div class="row">

					<div class="col-md-12 text-center" style="margin-bottom: 250px; margin-top: 230px;color: white;font-size: 50px;font-family: 'Yusei Magic', sans-serif">ABOUT US</div>

				</div>

			</div>
		</div>
</section><!--banner end-->

<section><!-- indian -->
	<div class="container-fluid">
		<div class="container">
			<div class="row">

				<div class="col-md-12" style="margin-top: -47px;">
					<div class="card c">
						<div class="card-body">
						<h3 class="text-center">TRANSFORMING INDIAN HIGHER EDUCATION</h3>
						<p style="padding: 20px;text-align: center;" class="text-justify">Academia and Industry are two different worlds which operate on different pedestals. Both have different purposes and different ideologies. Being so different from each other, these two worlds are still somehow interconnected. The aspiring graduates dreams to land on his desired career right after accomplishing their Higher Education.<strong><span style="font-family: 'Vesper Libre', serif;font-size: 20px;"> As per the recent statistics, India’s economy is expected to grow at a fast pace;
						rapid industrialization would require  a gross incremental workforce of ~250 million by 2030.</span></strong><br>
						<br>
						However, despite such encouraging stats there is a large gap between the industry and the academia, which hinders the efficient transmission of a student from the education sector to corporate sector. The major reason of this gap is the issues and problems which persist in the Indian Education System. Due to these the academia is not able to cater to the current industrial demands.</p>
					</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<section style="margin-top: 40px; padding: 30px; background-color: #0c503e" ><!--our thoughts-->

    <div class=" m-auto" style="width: 85%;">
		<br><br>
		<h1 class="text-center" style="color: white;margin-bottom: 15px;">OUR THOUGHTS</h1>
		<p class="text-justify" style="color: white;font-size: 25px;">Smart learning is focused on next-generation courses to prepare students for the challenges ahead. We work on innovative thinking and break the old barriers by bringing practical classes and case studies to the schools. Our in-demand courses make sure to prepare students for this ever-changing world and need to visualize the books they have been reading so far.</p>
     <a href="view.html"><input type="button" name="" style="width: 120px; line-height:50%; float: right;" class="btn btn-primary" value="READ MORE.."></a>
		<br><br>
    </div>


</section><!--our thoughts end-->

<section>
	<!-- <div class="container-fluid" style="background-color: white;">
    <div class="container">
		<div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-5"><br><br><br><br><br><br>
        <h3 class="text-center">What percentage of Indian students go to college?</h3>
        <p>More than 85% of students are enrolled in bachelor's degree programs with majority enrolling in three-year B.A., B.Com. or B.Sc. degrees. One-sixth of all Indian students are enrolled in Engineering/Technology degrees.</p>

      </div>

			<div class="col-md-4">
        <h1>Are more students going to college?</h1>
        <p>This fall, there were nearly 250,000 fewer students enrolled in college than a year ago, according to new numbers out Monday from the National Student Clearinghouse Research Center, which tracks college enrollment by student. ... Over the past eight years, college enrollment nationwide has fallen about 11%.Dec 16, 2019
 </p>
      </div>
      <div class="col-md-5 s" style="">
        <div class="">
          <h2 style="margin-top: 92px;margin-bottom: 205px;margin-left: 65px;">Do you Know !</h2>
        </div>
      </div>

      </div>
			</div>
		</div> -->

  <div>
    <img src="assets/image/fact1.png" class="w-100 image-fluid">
  </div>
</section>
