<section>
 <div class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">

		<div class="carousel-item active" >
			<img src="assets/image/e.webp"  class="img-fluid" style="height: 500px; width: 100%">
			<div class="carousel-caption y">

				<h1 style="font-size: 90px; font-family: 'Yusei Magic', sans-serif"><b>Courses</b></h1>        
			</div>
		</div>
		   
	</div><!-- end carousel-inner-->
 </div>
</section>
<div class="container">
        <br><br>
<div class="row fun">
<div class="col-md-5">
<div class="card c " >
<img src="assets/image/bm.jpg" class="img-fluid im">
<div class="card-body">

<h5>Introduction of Business Management</h5>
<br>
<button class="btn btn-primary " onclick="cr()" id="bt1">View</button>
<button class="btn btn-primary apply">Apply</button>

</div>
   </div>
   </div>
   <div class="col-md-5" >
    <div class="card c">
    <div class="card-body" style="background-color: #0000009c">
    <h1 class="text-center" style="margin-top: 20%">Coming soon</h1>
    </div>
    </div>
   </div>
</div>

<div class="w-100 fun" style="display: none">

<h1><b style="text-decoration: underline;font-size: 40px; float: left">Introduction of Bussiness Management</b></h1>
<button onclick="cr()" style="float: right;" class="btn btn-primary">Back</button>
<br><br><br>
</div>

<div class="row fun"  style="display: none">
<div class="col-md-4">
<div class="card c " >
<img src="img/hr.webp" class="img-fluid im">
<div class="card-body">

<h5>Management of HR</h5>
<br>
<!-- <button class="btn btn-primary">View</button>
                   <button class="btn btn-primary apply">Apply</button> -->

</div>

</div>
</div>
<div class="col-md-4 " >
<div class="card c ">
<img src="img/se.webp" class="img-fluid im">

<div class="card-body">

<h5>Economic and social engagement</h5>
<br>
<!-- <button class="btn btn-primary">View</button>
                   <button class="btn btn-primary apply">Apply</button> -->

</div>

</div>
</div>
<div class="col-md-4" >
<div class="card c">
<img src="img/m.webp" class="img-fluid im">

<div class="card-body">

<h5>Marketing for managers</h5>
<br>
<!-- <button class="btn btn-primary">View</button>
                   <button class="btn btn-primary apply">Apply</button> -->

</div>

</div>
</div>
</div>

<div class="row fun" style="display: none">


<div class="col-md-4 ">
<div class="card c" >
<img src="img/sm.webp" class="img-fluid im">

<div class="card-body">

<h5>Strategy Management</h5>
<br>
<!-- <button class="btn btn-primary">View</button>
                   <button class="btn btn-primary apply">Apply</button> -->

</div>

</div>
</div>

<div class="col-md-4"  >
<div class="card c">
<img src="img/bmm.webp" class="img-fluid im">

<div class="card-body">

<h5>Research Methodology for Management Decision</h5>

<!-- <button class="btn btn-primary">View</button>
                   <button class="btn btn-primary apply">Apply</button> -->

</div>

</div>
</div>

<div class="col-md-4 " >
<div class="card c">
<img src="img/pw.webp" class="img-fluid im">

<div class="card-body">

<h5>Project Work</h5>
<br>
<!-- <button class="btn btn-primary">View</button>
                   <button class="btn btn-primary apply">Apply</button> -->

</div>

</div>
</div>
</div>
</div>
<script src="js/jquery.js"></script>
<script>
	function cr()
	{
		$('.fun').fadeToggle();
	}

</script>
